lib/plugins/default_corparch/resources/corplist.rng

<?xml version="1.0" encoding="utf-8"?>
<!--
A schema describing default_corparch and ucnk_corparch compatible corpus list.
-->
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">

    <define name="boolValues">
        <choice>
            <value>false</value>
            <value>true</value>
            <value>0</value>
            <value>1</value>
        </choice>
    </define>
    <start>
        <element name="kontext">
            <element name="corplist">
                <element name="keywords">
                    <zeroOrMore>
                        <element name="keyword">
                            <attribute name="ident">
                                <text/>
                            </attribute>
                            <oneOrMore>
                                <element name="label">
                                    <attribute name="lang">
                                        <text/>
                                    </attribute>
                                    <text/>
                                </element>
                            </oneOrMore>
                        </element>
                    </zeroOrMore>
                </element>
                <oneOrMore>
                    <element name="corpus">
                        <attribute name="ident">
                            <text/>
                        </attribute>
                        <optional>
                            <attribute name="web">
                                <text/>
                            </attribute>
                        </optional>
                        <attribute name="sentence_struct">
                            <text/>
                        </attribute>
                        <optional>
                            <element name="metadata">
                                <interleave>
                                    <optional>
                                        <element name="featured">
                                            <empty/>
                                        </element>
                                    </optional>
                                    <optional>
                                        <element name="keywords">
                                            <zeroOrMore>
                                                <element name="item">
                                                    <text/>
                                                </element>
                                            </zeroOrMore>
                                        </element>
                                    </optional>
                                    <optional>
                                        <element name="database"><text /></element>
                                    </optional>
                                    <optional>
                                        <element name="id_attr"><text /></element>
                                    </optional>
                                    <optional>
                                        <element name="label_attr"><text /></element>
                                    </optional>
                                    <optional>
                                        <element name="avg_label_attr_len"><data type="integer" /></element>
                                    </optional>
                                    <optional>
                                        <element name="group_duplicates"><ref name="boolValues" /></element>
                                    </optional>
                                    <zeroOrMore>
                                        <element name="desc">
                                            <choice>
                                                <group>
                                                    <attribute name="lang"><text /></attribute>
                                                    <optional>
                                                        <attribute name="ident"><text /></attribute>
                                                    </optional>
                                                </group>
                                                <attribute name="ref"><text /></attribute>
                                            </choice>
                                            <text />
                                        </element>
                                    </zeroOrMore>
                                    <optional>
                                        <element name="interval_attrs">
                                            <oneOrMore>
                                                <element name="item">
                                                    <attribute name="widget">
                                                        <choice>
                                                            <value>years</value>
                                                            <value>days</value>
                                                        </choice>
                                                    </attribute>
                                                    <text />
                                                </element>
                                            </oneOrMore>
                                        </element>
                                    </optional>
                                </interleave>
                            </element>
                        </optional>
                        <optional>
                            <element name="tagsets">
                                <oneOrMore>
                                    <element name="tagset">
                                        <attribute name="name">
                                            <text/>
                                        </attribute>
                                        <attribute name="type">
                                            <text/>
                                        </attribute>
                                        <optional>
                                            <attribute name="pos_attr">
                                                <text/>
                                            </attribute>
                                        </optional>
                                        <optional>
                                            <attribute name="feat_attr">
                                                <text/>
                                            </attribute>
                                        </optional>
                                        <optional>
                                            <element name="pos_categories">
                                                <zeroOrMore>
                                                    <element name="item">
                                                        <element name="position">
                                                            <data type="integer" />
                                                            <a:documentation>position of the category in a resulting encoded tag</a:documentation>
                                                        </element>
                                                        <element name="pos">
                                                            <text />
                                                            <a:documentation>PoS name (e.g. "noun", "preposition",...)</a:documentation>
                                                        </element>
                                                        <element name="tag_search_pattern">
                                                            <text />
                                                            <a:documentation>A tag search regexp (e.g. "N.*", "R.*")</a:documentation>
                                                        </element>
                                                    </element>
                                                </zeroOrMore>
                                            </element>
                                        </optional>
                                    </element>
                                </oneOrMore>
                            </element>
                        </optional>
                        <optional>
                            <attribute name="collator_locale">
                                <text/>
                            </attribute>
                        </optional>
                        <optional>
                            <attribute name="speech_segment">
                                <text />
                            </attribute>
                        </optional>
                        <optional>
                            <attribute name="requestable">
                                <choice>
                                    <value>true</value>
                                    <value>false</value>
                                </choice>
                            </attribute>
                        </optional>
                        <optional>
                            <element name="reference">
                                <element name="default">
                                    <text/>
                                </element>
                                <optional>
                                    <element name="article">
                                        <text/>
                                    </element>
                                </optional>
                                <optional>
                                    <element name="other_bibliography">
                                        <text/>
                                    </element>
                                </optional>
                            </element>
                        </optional>
                        <optional>
                            <element name="simple_query_default_attrs">
                                <oneOrMore>
                                    <element name="attribute">
                                        <text/>
                                    </element>
                                </oneOrMore>
                            </element>
                        </optional>

                    </element>
                </oneOrMore>
            </element>
        </element>
    </start>
</grammar>