lib/plugins/default_conc_cache/config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="conc_cache">
            <element name="module">
                <value>default_conc_cache</value>
            </element>
            <element name="cache_dir">
                <text />
            </element>
        </element>
    </start>
</grammar>