conf/config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes"
         xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0">

    <a:documentation>A schema describing KonText main configuration file</a:documentation>

    <define name="plugin_common">
        <element name="module">
            <text />
        </element>
        <optional>
            <element name="js_module">
                <text />
            </element>
        </optional>
        <optional>
            <element name="conf_path">
                <text />
            </element>
        </optional>
    </define>

    <define name="customSimpleElement">
        <a:documentation>An atomic configuration element representing a key=&gt;value pair.</a:documentation>
        <element>
            <anyName/>
             <!-- for legacy reasons - optional must be here; oterwise we prefer
             'extension-by' to be always present -->
            <optional>
                <attribute name="extension-by">
                    <text />
                </attribute>
            </optional>
            <text />
        </element>
    </define>

    <define name="customArrayElement">
        <a:documentation>An element containing a list of atomic configuration elements</a:documentation>
        <element>
            <anyName />
             <!-- for legacy reasons - optional must be here; oterwise we prefer
             'extension-by' to be always present -->
            <optional>
                <attribute name="extension-by">
                    <text />
                </attribute>
            </optional>
            <oneOrMore>
                <element>
                    <anyName />
                    <text />
                </element>
            </oneOrMore>
        </element>
    </define>

    <define name="customPluginConfiguration">
        <a:documentation>Non-core configuration of a plug-in. Each plug-in should come with its
        custom config.rng file to validate its configuration subtree.</a:documentation>
        <zeroOrMore>
            <choice>
                <ref name="customSimpleElement" />
                <ref name="customArrayElement" />
            </choice>
        </zeroOrMore>
    </define>

    <define name="boolValues">
        <choice>
            <value>false</value>
            <value>true</value>
            <value>0</value>
            <value>1</value>
        </choice>
    </define>

    <start>
        <element name="kontext">
            <optional>
                <element name="theme">
                    <a:documentation>Optional visual theme configuration</a:documentation>
                    <interleave>
                        <element name="name">
                            <a:documentation>Theme identifier</a:documentation>
                            <text />
                        </element>
                        <element name="css">
                            <choice>
                                <text />
                                <oneOrMore>
                                    <element name="item">
                                        <text />
                                    </element>
                                </oneOrMore>
                            </choice>
                        </element>
                        <optional>
                            <element name="css_mobile">
                                <choice>
                                    <text />
                                    <oneOrMore>
                                        <element name="item">
                                            <text />
                                        </element>
                                    </oneOrMore>
                                </choice>
                            </element>
                        </optional>
                        <element name="logo">
                            <a:documentation>Path to a logo</a:documentation>
                            <text />
                        </element>
                        <element name="logo_mouseover">
                            <a:documentation>Path to a logo (mouseover variant)</a:documentation>
                            <text />
                        </element>
                        <element name="logo_href">
                            <a:documentation>Logo link activated on click</a:documentation>
                            <text />
                        </element>
                        <element name="logo_inline_css">
                            <a:documentation>custom inline logo CSS (e.g. width &amp;amp; height)</a:documentation>
                            <text />
                        </element>
                        <optional>
                            <element name="fonts">
                                <a:documentation>Custom theme fonts URLs</a:documentation>
                                <choice>
                                    <oneOrMore>
                                        <element name="item">
                                            <text />
                                        </element>
                                    </oneOrMore>
                                    <text />
                                </choice>
                            </element>
                        </optional>
                        <optional>
                            <element name="favicon">
                                <a:documentation>Favicon file name (not a full path)</a:documentation>
                                <text />
                            </element>
                            <element name="favicon_type">
                                <a:documentation>a proper mime type for the icon (e.g. image/x-icon)</a:documentation>
                                <text />
                            </element>
                        </optional>
                    </interleave>
                    <zeroOrMore>
                        <element>
                            <anyName />
                            <attribute name="extension-by">
                                <text />
                            </attribute>
                            <choice>
                                <text />
                                <zeroOrMore>
                                    <element name="item">
                                        <text />
                                    </element>
                                </zeroOrMore>
                            </choice>
                        </element>
                    </zeroOrMore>
                </element>
            </optional>
            <element name="global">
                <a:documentation>Main configuration section</a:documentation>
                <interleave>
                    <optional>
                        <element name="deployment_id">
                            <a:documentation>an identifier to modify static files URLs to flush browser cache</a:documentation>
                            <text />
                        </element>
                    </optional>
                    <element name="manatee_path">
                        <a:documentation>a path to Manatee Python libs (empty value is OK too)</a:documentation>
                        <text />
                    </element>
                    <optional>
                        <element name="umask">
                            <a:documentation>An optional umask used when creating new files. Sometimes this is
                            configured externally (e.g. Apache + mod_wsgi).</a:documentation>
                            <text />
                        </element>
                    </optional>
                    <element name="user_filter_files_dir">
                        <a:documentation>The path to the user filter data files (e.g. black/whitelists for the
                            wordlist view)</a:documentation>
                        <text />
                    </element>
                    <element name="debug">
                        <a:documentation>Debugging mode: 0/false = no debugging,
                            1/true = standard debugging, 2 = debugging + profiling information (slowest)
                        </a:documentation>
                        <choice>
                            <value>false</value>
                            <value>true</value>
                            <value>0</value>
                            <value>1</value>
                            <value>2</value>
                        </choice>
                    </element>
                    <optional>
                        <element name="ui_testing_flag">
                            <a:documentation>
                                If true/1 then KonText adds a special attribute 'data-kontext-init' to
                                the 'body' element once everything is set-up. This serves CasperJS to
                                be able to watch for the element as a sign that the application
                                is completely ready.
                            </a:documentation>
                            <ref name="boolValues" />
                        </element>
                    </optional>
                    <optional>
                        <element name="profile_log_path">
                            <a:documentation>Path to a file where profiling information is stored
                            (applies only if debug is 2)</a:documentation>
                            <text />
                        </element>
                    </optional>
                    <element name="maintenance">
                        <a:documentation>Switches KonText into a special mode when only a static page
                        is presented to a user and all the plug-in dependencies are disabled (i.e.
                        it should work even if KonText components are down).</a:documentation>
                        <ref name="boolValues" />
                    </element>
                    <element name="max_attr_list_size">
                        <a:documentation>Defines a maximum number of items in the checkbox table
                        in the text types component</a:documentation>
                        <data type="integer" />
                    </element>
                    <element name="translations">
                        <a:documentation>Languages activated in user interface (use [language]_[region]
                            format, e.g. en_US)
                        </a:documentation>
                        <oneOrMore>
                            <element name="language">
                                <attribute name="label">
                                    <text />
                                </attribute>
                                <data type="language" />
                            </element>
                        </oneOrMore>
                    </element>
                    <element name="upload_cache_dir">
                        <a:documentation>A path where uploaded file (e.g. whitelists/blacklists)
                        are temporarily stored before being processed</a:documentation>
                        <text />
                    </element>
                    <optional>
                        <element name="conc_line_max_group_num">
                            <a:documentation>defines possible numbers from 0 to the one defined here
                            which can be used when manually grouping concordance lines</a:documentation>
                            <data type="integer" />
                        </element>
                    </optional>
                    <element name="action_path_prefix">
                        <a:documentation>A prefix for action URLs (e.g. /apps/kontext). This can be used
                        to solve issues regarding apps installed in URL sub-directories</a:documentation>
                        <text />
                    </element>
                    <optional>
                        <element name="http_host">
                            <text />
                            <a:documentation>A custom HTTP host value replacing request environment HTTP_HOST
                            in case one cannot rely on that (e.g. behind some proxy configurations)</a:documentation>
                        </element>
                    </optional>
                    <element name="static_files_prefix">
                        <a:documentation>A prefix for static files (typically: /files when installed at the root)</a:documentation>
                        <text />
                    </element>
                    <optional>
                        <element name="cookie_path_prefix">
                            <a:documentation>A path used for cookies, `/` by
                                default.</a:documentation>
                            <text />
                        </element>
                    </optional>
                    <element name="use_conc_toolbar">
                        <a:documentation>If true then a special toolbar allowing easier setting of
                        common concordance view options is shown</a:documentation>
                        <ref name="boolValues" />
                    </element>
                    <element name="anonymous_user_conc_login_prompt">
                        <a:documentation>If true then for anonymous user, on concordance page a prompt to log-in always appears</a:documentation>
                        <ref name="boolValues" />
                    </element>
                    <optional>
                        <element name="shuffle_min_result_warning">
                            <data type="integer" />
                            <a:documentation>Specifies a result size at which a warning about long
                            processing time pops-up when applying *shuffle*</a:documentation>
                        </element>
                    </optional>
                    <optional>
                        <element name="shuffle_conc_by_default">
                            <ref name="boolValues" />
                            <a:documentation>If true then concordance will be shuffled by default (user can change
                            this in his/her settings). By default this is set to false.
                            </a:documentation>
                        </element>
                    </optional>
                    <optional>
                        <element name="help_links_path">
                            <text />
                            <a:documentation>A path to a JSON file containing terms and custom idents used
                            throughout the application as hooks for adding links to external sites containing
                            more info about specific piece (typically, a term, abbreviation etc.). See
                            sample config for more info.</a:documentation>
                        </element>
                    </optional>
                    <optional>
                        <element name="explicit_conc_persistence_ui">
                            <ref name="boolValues" />
                            <a:documentation>If true then KonText shows menu item and a button providing a
                                function -make concordance link persistent-. This is linked
                                to the conc_persistence.archive() function.
                            </a:documentation>
                        </element>
                    </optional>
                    <element name="conc_dashboard_modules">
                        <zeroOrMore>
                            <element name="item">
                                <choice>
                                    <value>freqs</value>
                                </choice>
                            </element>
                        </zeroOrMore>
                    </element>
                    <optional>
                        <element name="template_engine_cache_path">
                            <text />
                            <a:documentation>A filesystem path to a directory where Jinja2 can store compiled
                            templates. This improves 'first load' time.</a:documentation>
                        </element>
                    </optional>
                    <optional>
                        <element name="cookies_same_site">
                            <a:documentation>Set same site cookie strategy</a:documentation>
                            <choice>
                                <value>Lax</value>
                                <value>Strict</value>
                            </choice>
                        </element>
                    </optional>
                    <optional>
                        <element name="legacy_support">
                            <a:documentation>Apply functions for converting older formats (e.g. persistent concordance
                            parameters) to newer ones. This always relates to the latest release vs supported older
                            ones.</a:documentation>
                            <ref name="boolValues" />
                        </element>
                    </optional>
                </interleave>
            </element>
            <element name="calc_backend">
                <a:documentation>Selects a backend used to calculate miscellaneous task in the background</a:documentation>
                <interleave>
                    <element name="type">
                        <choice>
                            <value>rq</value>
                            <value>celery</value>
                        </choice>
                    </element>
                    <optional>
                        <element name="task_time_limit">
                            <data type="nonNegativeInteger" />
                        </element>
                    </optional>
                    <element name="status_service_url">
                        <a:documentation>In case a bgcalc module supports realtime status update,
                                KonText can be set to perform some async checking via WebSockets to decrease
                                load on Gunicorn workers and also to decrease number of requests.
                        </a:documentation>
                        <data type="anyURI" />
                    </element>
                    <optional>
                        <choice>
                            <element name="conf">
                                <text />
                            </element>
                            <group>
                                <element name="celery_broker_url">
                                    <data type="anyURI" />
                                </element>
                                <element name="celery_result_backend">
                                    <data type="anyURI" />
                                </element>
                                <element name="celery_task_serializer">
                                    <choice>
                                        <value>json</value>
                                    </choice>
                                </element>
                                <element name="celery_result_serializer">
                                    <choice>
                                        <value>json</value>
                                    </choice>
                                </element>
                                <element name="celery_accept_content">
                                    <oneOrMore>
                                        <element name="item">
                                            <choice>
                                                <value>json</value>
                                            </choice>
                                        </element>
                                    </oneOrMore>
                                </element>
                                <element name="celery_timezone">
                                    <text />
                                </element>
                            </group>
                            <group>
                                <element name="rq_redis_host">
                                    <text />
                                </element>
                                <element name="rq_redis_port">
                                    <data type="positiveInteger" />
                                </element>
                                <element name="rq_redis_db">
                                    <data type="positiveInteger" />
                                </element>
                                <element name="rq_log_path">
                                    <text />
                                </element>
                            </group>
                        </choice>
                    </optional>
                </interleave>
            </element>
            <element name="job_scheduler">
                <a:documentation>Configures Celery beat (or possibly other scheduler). This is not needed if
                            respective plug-ins support scripts are run by Cron</a:documentation>
                <interleave>
                    <element name="type">
                        <text />
                    </element>
                    <element name="conf">
                        <text />
                    </element>
                </interleave>
            </element>
            <optional>
                <element name="mailing">
                    <interleave>
                        <element name="smtp_server">
                            <text />
                        </element>
                        <element name="smtp_port">
                            <a:documentation>
                                Typically, one of 25, 465, 587 is used.
                            </a:documentation>
                            <data type="positiveInteger" />
                        </element>
                        <element name="use_tls">
                            <ref name="boolValues" />
                        </element>
                        <element name="sender">
                            <text />
                        </element>
                        <optional>
                            <element name="auth_username">
                                <text />
                            </element>
                            <element name="auth_password">
                                <text />
                            </element>
                        </optional>
                    </interleave>
                </element>
            </optional>
            <element name="logging">
                <interleave>
                    <element name="path">
                        <a:documentation>Path to KonText application log. A Python formatting string with 'pid' key can
                        be used to create a file with pid in its name (e.g. my_log_{pid}.log).</a:documentation>
                        <text />
                    </element>
                    <element name="file_size">
                        <a:documentation>Maximum size of a log file (log rotation)</a:documentation>
                        <data type="integer" />
                    </element>
                    <element name="num_files">
                        <a:documentation>Maximum number of log files (log rotation</a:documentation>
                        <data type="positiveInteger" />
                    </element>
                </interleave>
            </element>
            <element name="corpora">
                <interleave>
                    <element name="manatee_registry">
                        <a:documentation>A directory where Manatee registry files are located.
                        This one is very important.</a:documentation>
                        <text />
                    </element>
                    <optional>
                        <element name="manatee_registry_locale">
                            <a:documentation>A language used in corpora registry files for labels etc. This
                                allows KonText to warn user with a different UI language that a specific text (e.g.
                                a corpus description) is not available translated.</a:documentation>
                            <text />
                        </element>
                    </optional>
                    <element name="users_subcpath">
                        <a:documentation>A directory where user subcorpora are stored</a:documentation>
                        <text />
                    </element>
                    <element name="conc_dir">
                        <!-- TODO -->
                        <a:documentation>???</a:documentation>
                        <text />
                    </element>
                    <element name="freqs_precalc_dir">
                        <a:documentation>A directory where precalculated data related to frequency
                        information is stored</a:documentation>
                        <text />
                    </element>
                    <element name="freqs_cache_dir">
                        <a:documentation>A directory where temporary user frequency results are stored
                        to optimize pagination</a:documentation>
                        <text />
                    </element>
                    <element name="freqs_cache_ttl">
                        <a:documentation>Number of seconds cached files for the freq. distribution page
                        remain available. This also depends on how often a respective clean-up procedure runs.
                        </a:documentation>
                        <data type="integer" />
                    </element>
                    <element name="freqs_cache_min_lines">
                        <a:documentation>Specifies a minimum number of items frequency data must contain to
                        be cacheable.</a:documentation>
                        <data type="integer" />
                    </element>
                    <element name="colls_cache_dir">
                        <text />
                    </element>
                    <element name="colls_cache_ttl">
                        <a:documentation>Number of seconds cached files for the collocations page page
                        remain available. This also depends on how often a respective clean-up procedure runs.
                        </a:documentation>
                        <data type="nonNegativeInteger" />
                    </element>
                    <element name="colls_cache_min_lines">
                        <a:documentation>Specifies a minimum number of items collocations data must contain to
                        be cacheable.</a:documentation>
                        <data type="positiveInteger" />
                    </element>
                    <element name="default_corpora">
                        <a:documentation>Specifies a default corpous to be offered to a user
                        in case she does not specify anything. A list can be used to define
                        some fallback items (e.g. some users may not have the permissions to
                        access 1st corpus but they can use 2nd etc.).</a:documentation>
                        <oneOrMore>
                            <element name="item">
                                <text />
                            </element>
                        </oneOrMore>
                    </element>
                    <element name="speech_files_path">
                        <a:documentation>A directory where sound files for individual corpora
                        are stored.</a:documentation>
                        <text />
                    </element>
                    <element name="empty_attr_value_placeholder">
                        <a:documentation>A placeholder used to represent empty value in text type
                        attribute values</a:documentation>
                        <text />
                    </element>
                    <element name="multilevel_freq_dist_max_levels">
                        <a:documentation>Multilevel frequency distribution - max. number of levels</a:documentation>
                        <data type="integer" />
                    </element>
                    <optional>
                        <element name="right_interval_char">
                            <a:documentation>A character used to denote a left interval (e.g. -10)</a:documentation>
                            <text />
                        </element>
                        <element name="left_interval_char">
                            <a:documentation>A character used to denote a left interval (e.g. +10)</a:documentation>
                            <text />
                        </element>
                        <element name="interval_char">
                            <a:documentation>A character used to denote a left interval (e.g. +/-10)</a:documentation>
                            <text />
                        </element>
                    </optional>
                </interleave>
            </element>
            <element name="fcs">
                <interleave>
                    <optional>
                        <element name="provider_heading">
                            <text />
                        </element>
                    </optional>
                    <optional>
                        <element name="provider_website">
                            <text />
                        </element>
                    </optional>
                    <optional>
                        <element name="template_css_url">
                            <choice>
                                <text />
                                <oneOrMore>
                                    <element name="item">
                                        <text />
                                    </element>
                                </oneOrMore>
                            </choice>
                        </element>
                    </optional>
                    <optional>
                        <element name="template_header_inject_file">
                            <text />
                        </element>
                    </optional>
                    <optional>
                        <element name="search_attributes">
                            <oneOrMore>
                                <element name="item">
                                    <a:documentation>A positional attribute used for search. A list of
                                        possible candidates is expected to satisfy any installed corpus.
                                        From these candidates, first applicable value is always used.
                                    </a:documentation>
                                    <text />
                                </element>
                            </oneOrMore>
                        </element>
                    </optional>
                    <optional>
                        <element name="kwic_context">
                            <a:documentation>KWIC context for left and right size. Please note that registry file
                            defined MAXCONTEXT has priority over this.</a:documentation>
                            <data type="positiveInteger" />
                        </element>
                    </optional>
                </interleave>
            </element>
            <element name="plugins">
                <interleave>
                    <element name="db">
                        <a:documentation>Main key=&gt;value storage configuration</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="action_log">
                        <a:documentation>Action logging module</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="auth">
                        <a:documentation>Authentication plug-in configuration</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="application_bar">
                        <optional>
                            <a:documentation>An optional plug-in proving 3rd party HTML code
                                inserted into KonText pages (e.g. an application switch &amp;
                                authentication module)</a:documentation>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="footer_bar">
                        <optional>
                            <a:documentation>An optional plug-in proving custom HTML code
                            for page footer</a:documentation>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="getlang">
                        <optional>
                            <a:documentation>A plug-in to detect user language</a:documentation>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="query_storage">
                        <a:documentation>A plug-in for storing current queries for later retrieval</a:documentation>
                        <ref name="plugin_common" />
                        <element name="page_num_records">
                            <data type="integer" />
                        </element>
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="query_suggest">
                        <a:documentation>A plug-in for providing misc. help based on the current query and
                        available backends (Manatee, HTTP,...)</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="conc_persistence">
                        <a:documentation>Storing (possibly long) queries under a simple code</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="conc_cache">
                        <a:documentation>Path to a directory where cached concordances are stored
                            (this typically requires quite a lot of space and some regular clean-up)</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="settings_storage">
                        <a:documentation>A plug-in to store and retrieve user settings</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="sessions">
                        <a:documentation>A plug-in for handling web sessions.</a:documentation>
                        <ref name="plugin_common" />
                        <element name="ttl">
                            <a:documentation>number of seconds of inactivity</a:documentation>
                            <data type="positiveInteger" />
                        </element>
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="corparch">
                        <a:documentation>A plug-in for searching available corpora</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="live_attributes">
                        <optional>
                            <a:documentation>Interactive text types selection</a:documentation>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="export">
                        <a:documentation>Dataset export modules</a:documentation>
                        <interleave>
                            <optional>
                                <element name="csv">
                                    <text />
                                </element>
                            </optional>
                            <optional>
                                <element name="xlsx">
                                    <text />
                                </element>
                            </optional>
                            <optional>
                                <element name="xml">
                                    <text />
                                </element>
                            </optional>
                        </interleave>
                        <zeroOrMore>
                            <element>
                                <anyName />
                                <text />
                            </element>
                        </zeroOrMore>
                    </element>
                    <element name="subc_restore">
                        <optional>
                            <a:documentation>Backup/restore of subcorpora</a:documentation>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="taghelper">
                        <a:documentation>An interactive builder of positional tags</a:documentation>
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="user_items">
                        <a:documentation>User favorite items (this is coupled with &quot;corparch&quot; plug-in)</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="menu_items">
                        <a:documentation>Handles custom menu items</a:documentation>
                        <ref name="plugin_common" />
                        <ref name="customPluginConfiguration" />
                    </element>
                    <element name="subcmixer">
                        <optional>
                            <a:documentation>Generates subcorpora with defined text type ratios (experimental)</a:documentation>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="syntax_viewer">
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="chart_export">
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="issue_reporting">
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="token_connect">
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="kwic_connect">
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                    <element name="export_freq2d">
                        <interleave>
                            <optional>
                                <element name="xlsx">
                                    <text />
                                </element>
                            </optional>
                        </interleave>
                    </element>
                    <element name="dispatch_hook">
                        <optional>
                            <ref name="plugin_common" />
                            <ref name="customPluginConfiguration" />
                        </optional>
                    </element>
                </interleave>
            </element>
        </element>
    </start>
</grammar>