lib/plugins/default_subc_storage/config.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0"
         datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
    <start>
        <element name="subc_storage">
            <element name="module">
                <value>default_subc_storage</value>
            </element>
            <element name="db_path">
                <text />
            </element>
        </element>
    </start>
</grammar>